<h1> Name: Ravi Teja Nalluri <br> Student Id:862468077 <br> Email: rnall003@ucr.edu</h1>

In [16]:
import os
import pandas as pd
import geopandas as gpd
import sqlalchemy as sql
from geoalchemy2 import Geometry, WKTElement

In [17]:
df_house_price = pd.read_csv(r'C:\Users\User\Downloads\archive (1)\IT_Cities_Property_Data.csv')

In [18]:
df_house_price.head()
df_house_price.shape

(1873, 23)

In [19]:
df_house_price.isna().sum()

id                      0
establishedYear       561
title                   2
city                    0
description             0
houseType               1
bhkType                13
address                 9
shared                  0
bedAvailable            0
roomAvailable           0
availableFor            0
bookingType            23
area(sq-fit)            0
bathroomCount           0
furnishingType          0
facilities              0
minRent(Rs)             0
minRoomRent(Rs)         0
minRoomAdvance(Rs)      0
lat                     0
long                    0
available_from          7
dtype: int64

In [20]:
list_columns_dropped = ['establishedYear','title','furnishingType','area(sq-fit)','bathroomCount','minRoomAdvance(Rs)','address','bookingType','minRoomRent(Rs)','availableFor','facilities']
df_house_price = df_house_price.drop(labels = list_columns_dropped, axis = 1)
df_house_price.head()

,id,city,description,houseType,bhkType,shared,bedAvailable,roomAvailable,minRent(Rs),lat,long,available_from
0,3814,pune,"Located at Dhavale Vasti, Pune, this cosy 2 BH...",Gated Society Apartment,2 BHK,4,0,2,5886,18.526085,73.908905,2023-10-10
1,11845,hyderabad,Looking for a charming 2 BHK independent house...,Independent House,2 BHK,4,0,2,8550,17.499052,78.392693,2023-11-14
2,340222,mumbai,"Located at Chuna Bhatti, Mumbai, this cosy 4 B...",Independent Apartment,4 BHK,4,0,4,22250,19.052172,72.875252,2023-10-10
3,260247,Bengaluru,This spacious semi_furnished 1 BHK apartment f...,Apartment,1 BHK,1,0,1,19000,12.958700,77.655403,2023-10-07
4,355316,bengaluru,"This comfortable 1 BHK semi_furnished, house i...",Independent Apartment,1 BHK,1,0,1,10000,13.036417,77.557220,2023-10-07

In [8]:
df_house_price.dtypes

id                  int64
city               object
description        object
houseType          object
bhkType            object
shared              int64
bedAvailable        int64
roomAvailable       int64
minRent(Rs)         int64
lat               float64
long              float64
available_from     object
dtype: object

In [21]:
df_house_price=df_house_price.drop_duplicates(subset='id', keep='first')

In [22]:
df_house_price.rename(columns = {'minRent(Rs)':'minRent'}, inplace = True)

In [23]:
gdf_house_price = gpd.GeoDataFrame(df_house_price, geometry = gpd.points_from_xy(df_house_price.long, df_house_price.lat),  crs="EPSG:4326")

In [25]:
gdf_house_price.head()

,id,city,description,houseType,bhkType,shared,bedAvailable,roomAvailable,minRent,lat,long,available_from,geometry
0,3814,pune,"Located at Dhavale Vasti, Pune, this cosy 2 BH...",Gated Society Apartment,2 BHK,4,0,2,5886,18.526085,73.908905,2023-10-10,POINT (73.90891 18.52608)
1,11845,hyderabad,Looking for a charming 2 BHK independent house...,Independent House,2 BHK,4,0,2,8550,17.499052,78.392693,2023-11-14,POINT (78.39269 17.49905)
2,340222,mumbai,"Located at Chuna Bhatti, Mumbai, this cosy 4 B...",Independent Apartment,4 BHK,4,0,4,22250,19.052172,72.875252,2023-10-10,POINT (72.87525 19.05217)
3,260247,Bengaluru,This spacious semi_furnished 1 BHK apartment f...,Apartment,1 BHK,1,0,1,19000,12.958700,77.655403,2023-10-07,POINT (77.65540 12.95870)
4,355316,bengaluru,"This comfortable 1 BHK semi_furnished, house i...",Independent Apartment,1 BHK,1,0,1,10000,13.036417,77.557220,2023-10-07,POINT (77.55722 13.03642)

In [26]:
DATABASE_NAME = 'postgres'

In [27]:
connection_string = f'postgresql://postgres:{3010}@localhost:5432/{DATABASE_NAME}'
db_engine = sql.create_engine(connection_string)


# Insert the data into a table in postgres
gdf_house_price.to_postgis(
    name = 'cities_prices',
    con = db_engine,
    if_exists = 'replace',
    index = False
)